
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1;
    
}

body{
    background-color: rgb(17, 17, 17);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: none;
    font-family: "Noto Sans Mono";
}

.star{
    padding: 20px;
    background-color: #2d4480;
    padding: 20px;
    min-width: 1200px;
    min-height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;

}


.container {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 288px;
    height: 469px;
    border-radius: 15px;
    background-color: #ffffff ;
    padding: 30px 20px;
}


h1 {
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 68px;
    line-height: 36px;
    text-transform: uppercase;

}

h2{
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.13px;
    


}

.liste {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.6px;
    color: #000000;
    text-transform: uppercase;
    list-style: none;
    margin-bottom: 20px;
    width: 100%;
    letter-spacing: 0.6px;
    padding-left: 40px;   
    line-height: 33px;

}

.liste li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.liste li::before {
    content: "";
}