.a{
    height: 100vh;
    background-color: lightblue;
}

.b{
    height: 100vh;
    background-color: aqua;
}

.c{
    height: 100vh;
    background-color: yellow;
}

.d{
    height: 100vh;
    background-color: pink;
}

